h1 {
    background-color: #087CA7;
    color: white !important;
    padding-bottom: 7%;
    font-family: 'Rubik Doodle Shadow', system-ui;
    text-shadow: -4px 4px 4px #000000;
    font-size: 60px !important;
}

h3 {
    background: #087CA7;
    border-style: solid;
    border-width: 3px;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
h1, h3 {
    text-align: center;
}

#answer1, #answer2, #answer3, #answer4 {
    font-family: 'Roboto';
    font-weight: 100;
}

.answer {
    text-align: center;
    list-style-type: none;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
}

.answer:nth-child(even) {
    background: #001c55;
}
.answer:nth-child(odd) {
    background: #0A2472;
}
.answerContainer {
    border-style: solid;
    border-width: 3px;
    margin-top: -1%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 1%;
}
.hoverable:hover {
    filter: brightness(50%) !important;
}
.container {
    text-align: center;
}
#scoreText {
    font-family: 'Roboto';
    font-weight: 700;
    padding-left: 25%;
    color: white;
}
body {
    background-color: #05b2dc !important;
}
footer {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #087CA7;
}
button {
    font-family: 'Roboto';
    font-weight: 700;
    color: white;
    border-radius: 10px !important;
    border-style: none;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #0A2472;
}
.disableButton {
    filter: brightness(40%);
    pointer-events: none;
}
button:hover {
    filter: brightness(70%);
    cursor: pointer;
}
.disable {
    pointer-events: none;
}
#question {
    font-family: 'Roboto';
    font-weight: 300;
}
